@import './reset.scss';

body{
    background-color: #E7E7E7;
    // background-image: url("/src/assets/bg.png");
    // background-size: cover;
}





// -------------------------------------FONT-------------------------------------
@font-face {
    font-family: 'suisseintlR';
    src: url(/assets/font/SuisseIntl-Regular.ttf);
}

@font-face {
    font-family: 'suisseintlM';
    src: url(/assets/font/SuisseIntl-Medium.ttf);
}

@font-face {
    font-family: 'suisseintlL';
    src: url(/assets/font/SuisseIntl-Light.ttf);
}

@font-face {
    font-family: 'suisseintlB';
    src: url(/assets/font/SuisseIntl-Bold.ttf);
}

@font-face {
    font-family: 'suisseneueM';
    src: url(/assets/font/SuisseNeueMedium.ttf);
}

@font-face {
    font-family: 'suisseneueL';
    src: url(/assets/font/SuisseNeueLight.ttf);
}


p{
    font-size: 18px;
    font-family:'suisseintlR';
    color: #191A1B;
}

h1{
    font-size: 96px;
    font-family:'suisseintlB';
    color: #191A1B;
}

@media screen and (max-width: 1300px) {
    h1{
        font-size: 60px;
    }
}

@media screen and (max-width: 830px) {
    h1{
        font-size: 40px;
    }
}
@media screen and (max-width: 550px) {
    h1{
        font-size: 30px;
    }
}

h2{
    font-size: 24px;
    font-family:'suisseneueM';
    color: #191A1B;
}

h3{
    font-size: 20px;
    font-family:'suisseintlM' ;
    color: #191A1B;
}

h4{
    font-size: 16px;
    font-family:'suisseneueM';
    color: #191A1B;
}